In [2]:
# Descargar librerias necesarias para manipulación de datos 
import pandas as pd

In [3]:
# Carga del archivo: 1.penetracion_del_internet_fijo_por_provincia_(accesos_por_cada_100_habitantes).csv
penetracion_100hab = pd.read_csv(r"1.penetracion_del_internet_fijo_por_provincia_(accesos_por_cada_100_habitantes).csv")
penetracion_100hab.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 840 entries, 0 to 839
Data columns (total 4 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Año                       840 non-null    int64
 1   Trimestre                 840 non-null    int64
 2   Provincia                 840 non-null    object
 3   Accesos por cada 100 hab  840 non-null    int64
dtypes: int64(3), object(1)
memory usage: 26.4+ KB

In [4]:
# Carga del archivo: 1.penetracion_del_internet_fijo_por_provincia_(accesos_por_cada_100_hogares).csv
penetracion_pvcia = pd.read_csv(r"1.penetracion_del_internet_fijo_por_provincia_(accesos_por_cada_100_hogares).csv")
penetracion_pvcia.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 840 entries, 0 to 839
Data columns (total 4 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Año                           840 non-null    int64
 1   Trimestre                     840 non-null    int64
 2   Provincia                     840 non-null    object
 3   Accesos por cada 100 hogares  840 non-null    float64
dtypes: float64(1), int64(2), object(1)
memory usage: 26.4+ KB

In [5]:
# Carga del archivo: 3.total_nacional_de_accesos_a_internet_fijo_por_banda_ancha_y_banda_angosta.csv
accesos_nac = pd.read_csv(r"3.total_nacional_de_accesos_a_internet_fijo_por_banda_ancha_y_banda_angosta.csv")
accesos_nac.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Año               35 non-null     int64
 1   Trimestre         35 non-null     int64
 2   Banda ancha fija  35 non-null     int64
 3   Dial up           35 non-null     int64
 4   Total             35 non-null     int64
 5   Periodo           35 non-null     object
dtypes: int64(5), object(1)
memory usage: 1.8+ KB

In [6]:
# Carga del archivo: 4.accesos_a_banda_ancha_y_banda_angosta_por_provincia.csv
accesos_pvcia = pd.read_csv(r"4.accesos_a_banda_ancha_y_banda_angosta_por_provincia.csv")
accesos_pvcia.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 840 entries, 0 to 839
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Año               840 non-null    int64
 1   Trimestre         840 non-null    int64
 2   Provincia         840 non-null    object
 3   Banda ancha fija  840 non-null    int64
 4   Dial up           840 non-null    int64
 5   Total             840 non-null    int64
dtypes: int64(5), object(1)
memory usage: 39.5+ KB

In [7]:
# Carga del archivo: 6.acceso_a_internet_fijo_por_tecnologia_y_provincia.csv
accesos_tecno_pvcia = pd.read_csv(r"6.acceso_a_internet_fijo_por_tecnologia_y_provincia.csv")
accesos_tecno_pvcia.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 840 entries, 0 to 839
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Año           840 non-null    object
 1   Trimestre     840 non-null    object
 2   Provincia     840 non-null    object
 3   ADSL          840 non-null    int64
 4   Cablemodem    840 non-null    int64
 5   Fibra óptica  840 non-null    int64
 6   Wireless      840 non-null    int64
 7   Otros         840 non-null    int64
 8   Total         840 non-null    int64
dtypes: int64(6), object(3)
memory usage: 59.2+ KB

In [8]:
# Carga del archivo: 8.velocidad_media_de_bajada_de_internet_(nacional).csv
vel_nac = pd.read_csv(r"8.velocidad_media_de_bajada_de_internet_(nacional).csv")
vel_nac.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 4 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Año                     35 non-null     int64
 1   Trimestre               35 non-null     int64
 2   Mbps (Media de bajada)  35 non-null     float64
 3   Trimestre.1             35 non-null     object
dtypes: float64(1), int64(2), object(1)
memory usage: 1.2+ KB

In [9]:
# Carga del archivo: 10.total_nacional_de_accesos_a_internet_fijo_por_velocidad_de_bajada.csv
accesos_nac_vel = pd.read_csv(r"10.total_nacional_de_accesos_a_internet_fijo_por_velocidad_de_bajada.csv")
accesos_nac_vel.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 12 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Año                      35 non-null     int64
 1   Trimestre                35 non-null     int64
 2   Hasta 512 kbps           35 non-null     float64
 3   Entre 512 Kbps y 1 Mbps  35 non-null     float64
 4   Entre 1 Mbps y 6 Mbps    35 non-null     object
 5   Entre 6 Mbps y 10 Mbps   35 non-null     object
 6   Entre 10 Mbps y 20 Mbps  35 non-null     object
 7   Entre 20 Mbps y 30 Mbps  35 non-null     object
 8   Más de 30 Mbps           35 non-null     object
 9   OTROS                    35 non-null     float64
 10  Total                    35 non-null     object
 11  Unnamed: 11              0 non-null      float64
dtypes: float64(4), int64(2), object(6)
memory usage: 3.4+ KB

In [11]:
# Carga del archivo: 11.acceso_a_internet_fijo_por_rangos_de_velocidad_de_bajada_y_provincia.csv
accesos_pvcia_rangosvel = pd.read_csv(r"11.acceso_a_internet_fijo_por_rangos_de_velocidad_de_bajada_y_provincia.csv")
accesos_pvcia_rangosvel.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 840 entries, 0 to 839
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Año                  840 non-null    int64
 1   Trimestre            840 non-null    int64
 2   Provincia            840 non-null    object
 3   HASTA 512 kbps       840 non-null    int64
 4   + 512 Kbps - 1 Mbps  840 non-null    int64
 5   + 1 Mbps - 6 Mbps    840 non-null    int64
 6   + 6 Mbps - 10 Mbps   840 non-null    int64
 7   + 10 Mbps - 20 Mbps  840 non-null    int64
 8   + 20 Mbps - 30 Mbps  840 non-null    int64
 9   + 30 Mbps            840 non-null    int64
 10  OTROS                840 non-null    int64
 11  Total                840 non-null    int64
dtypes: int64(11), object(1)
memory usage: 78.9+ KB

In [12]:
# Carga del archivo: 12.accesos_a_internet_fijo_por_velocidad_bajada_y_provincia.csv
accesos_pvcia_vel = pd.read_csv(r"12.accesos_a_internet_fijo_por_velocidad_bajada_y_provincia.csv")
accesos_pvcia_vel.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 480 entries, 0 to 479
Data columns (total 97 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Año         480 non-null    int64
 1   Trimestre   480 non-null    int64
 2   Provincia   480 non-null    object
 3   Otros       480 non-null    int64
 4   0,256 Mbps  480 non-null    int64
 5   0,375 Mbps  480 non-null    int64
 6   0,625 Mbps  480 non-null    int64
 7   0,5 Mbps    480 non-null    int64
 8   0,512 Mbps  480 non-null    int64
 9   0,75 Mbps   480 non-null    int64
 10  1 Mbps      480 non-null    int64
 11  1,2 Mbps    480 non-null    int64
 12  1,25 Mbps   480 non-null    int64
 13  1,5 Mbps    480 non-null    int64
 14  2 Mbps      480 non-null    int64
 15  2,2 Mbps    480 non-null    int64
 16  2,5 Mbps    480 non-null    int64
 17  6,7 Mbps    480 non-null    int64
 18  3 Mbps      480 non-null    int64
 19  3,2 Mbps    480 non-null    int64
 20  3,3 Mbps    480 non-null    int64
 21  3,5 Mbps    480 non-null    int64
 22  4 Mbps      480 non-null    int64
 23  4,5 Mbps    480 non-null    int64
 24  5 Mbps      480 non-null    int64
 25  6 Mbps      480 non-null    int64
 26  6,4 Mbps    480 non-null    int64
 27  7 Mbps      480 non-null    int64
 28  7,5 Mbps    480 non-null    int64
 29  8 Mbps      480 non-null    int64
 30  9 Mbps      480 non-null    int64
 31  10 Mbps     480 non-null    int64
 32  10,6 Mbps   480 non-null    int64
 33  11 Mbps     480 non-null    int64
 34  12 Mbps     480 non-null    int64
 35  13 Mbps     480 non-null    int64
 36  14 Mbps     480 non-null    int64
 37  15 Mbps     480 non-null    int64
 38  16 Mbps     480 non-null    int64
 39  17 Mbps     480 non-null    int64
 40  18 Mbps     480 non-null    int64
 41  19 Mbps     480 non-null    int64
 42  20 Mbps     480 non-null    int64
 43  21 Mbps     480 non-null    int64
 44  22 Mbps     480 non-null    int64
 45  23 Mbps     480 non-null    int64
 46  24 Mbps     480 non-null    int64
 47  25 Mbps     480 non-null    int64
 48  25,1 Mbps   480 non-null    int64
 49  25,11 Mbps  480 non-null    int64
 50  25,5 Mbps   480 non-null    int64
 51  26 Mbps     480 non-null    int64
 52  28 Mbps     480 non-null    int64
 53  29 Mbps     480 non-null    int64
 54  30 Mbps     480 non-null    int64
 55  31 Mbps     480 non-null    int64
 56  32 Mbps     480 non-null    int64
 57  34 Mbps     480 non-null    int64
 58  35 Mbps     480 non-null    int64
 59  36 Mbps     480 non-null    int64
 60  37 Mbps     480 non-null    int64
 61  38 Mbps     480 non-null    int64
 62  39 Mbps     480 non-null    int64
 63  40 Mbps     480 non-null    int64
 64  41 Mbps     480 non-null    int64
 65  45 Mbps     480 non-null    int64
 66  46 Mbps     480 non-null    int64
 67  47 Mbps     480 non-null    int64
 68  48 Mbps     480 non-null    int64
 69  49 Mbps     480 non-null    int64
 70  50 Mbps     480 non-null    int64
 71  51 Mbps     480 non-null    int64
 72  52 Mbps     480 non-null    int64
 73  54 Mbps     480 non-null    int64
 74  55 Mbps     480 non-null    int64
 75  56 Mbps     480 non-null    int64
 76  58 Mbps     480 non-null    int64
 77  59 Mbps     480 non-null    int64
 78  60 Mbps     480 non-null    int64
 79  61 Mbps     480 non-null    int64
 80  62 Mbps     480 non-null    int64
 81  63 Mbps     480 non-null    int64
 82  64 Mbps     480 non-null    int64
 83  65 Mbps     480 non-null    int64
 84  66 Mbps     480 non-null    int64
 85  67 Mbps     480 non-null    int64
 86  68 Mbps     480 non-null    int64
 87  70 Mbps     480 non-null    int64
 88  71 Mbps     480 non-null    int64
 89  75 Mbps     480 non-null    int64
 90  77 Mbps     480 non-null    int64
 91  78 Mbps     480 non-null    int64
 92  80 Mbps     480 non-null    int64
 93  81 Mbps     480 non-null    int64
 94  83 Mbps     480 non-null    int64
 95  82 Mbps     480 non-null    int64
 96  86 Mbps     480 non-null    int64
dtypes: int64(96), object(1)
memory usage: 363.9+ KB

In [15]:
# Carga del archivo: 13.ingresos_por_la_operacion_del_servicio_de_internet_fijo.csv
ingresos = pd.read_csv(r"13.ingresos_por_la_operacion_del_servicio_de_internet_fijo.csv")
ingresos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 4 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Año                        35 non-null     int64
 1   Trimestre                  35 non-null     int64
 2   Ingresos (miles de pesos)  35 non-null     int64
 3   Periodo                    35 non-null     object
dtypes: int64(3), object(1)
memory usage: 1.2+ KB

In [16]:
# Carga del archivo: 14.accesos_a_internet_fijo_por_velocidad_de_bajada_y_localidad.csv
accesos_loc = pd.read_csv(r"14.accesos_a_internet_fijo_por_velocidad_de_bajada_y_localidad.csv")
accesos_loc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3098 entries, 0 to 3097
Data columns (total 83 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Provincia   3098 non-null   object
 1   Partido     3098 non-null   object
 2   Localidad   3098 non-null   object
 3   Link Indec  3098 non-null   object
 4   Otros       3098 non-null   int64
 5   0,256 mbps  3098 non-null   int64
 6   0,375 mbps  3098 non-null   int64
 7   0,5 mbps    3098 non-null   int64
 8   0,512 mbps  3098 non-null   int64
 9   0,625 mbps  3098 non-null   int64
 10  0,75 mbps   3098 non-null   int64
 11  1 mbps      3098 non-null   int64
 12  1,25 mbps   3098 non-null   int64
 13  1,5 mbps    3098 non-null   int64
 14  2 mbps      3098 non-null   int64
 15  2,2 mbps    3098 non-null   int64
 16  2,5 mbps    3098 non-null   int64
 17  3 mbps      3098 non-null   int64
 18  3,3 mbps    3098 non-null   int64
 19  3,5 mbps    3098 non-null   int64
 20  4 mbps      3098 non-null   int64
 21  4,5 mbps    3098 non-null   int64
 22  5 mbps      3098 non-null   int64
 23  6 mbps      3098 non-null   int64
 24  6,4 mbps    3098 non-null   int64
 25  7 mbps      3098 non-null   int64
 26  7,5 mbps    3098 non-null   int64
 27  8 mbps      3098 non-null   int64
 28  9 mbps      3098 non-null   int64
 29  10 mbps     3098 non-null   int64
 30  11 mbps     3098 non-null   int64
 31  12 mbps     3098 non-null   int64
 32  13 mbps     3098 non-null   int64
 33  14 mbps     3098 non-null   int64
 34  15 mbps     3098 non-null   int64
 35  16 mbps     3098 non-null   int64
 36  17 mbps     3098 non-null   int64
 37  18 mbps     3098 non-null   int64
 38  19 mbps     3098 non-null   int64
 39  20 mbps     3098 non-null   int64
 40  21 mbps     3098 non-null   int64
 41  22 mbps     3098 non-null   int64
 42  23 mbps     3098 non-null   int64
 43  24 mbps     3098 non-null   int64
 44  25 mbps     3098 non-null   int64
 45  25,1 mbps   3098 non-null   int64
 46  25,11 mbps  3098 non-null   int64
 47  25,5 mbps   3098 non-null   int64
 48  26 mbps     3098 non-null   int64
 49  30 mbps     3098 non-null   int64
 50  31 mbps     3098 non-null   int64
 51  32 mbps     3098 non-null   int64
 52  34 mbps     3098 non-null   int64
 53  35 mbps     3098 non-null   int64
 54  36 mbps     3098 non-null   int64
 55  38 mbps     3098 non-null   int64
 56  39 mbps     3098 non-null   int64
 57  40 mbps     3098 non-null   int64
 58  41 mbps     3098 non-null   int64
 59  45 mbps     3098 non-null   int64
 60  46 mbps     3098 non-null   int64
 61  49 mbps     3098 non-null   int64
 62  50 mbps     3098 non-null   int64
 63  55 mbps     3098 non-null   int64
 64  58 mbps     3098 non-null   int64
 65  59 mbps     3098 non-null   int64
 66  60 mbps     3098 non-null   int64
 67  61 mbps     3098 non-null   int64
 68  62 mbps     3098 non-null   int64
 69  64 mbps     3098 non-null   int64
 70  65 mbps     3098 non-null   int64
 71  66 mbps     3098 non-null   int64
 72  70 mbps     3098 non-null   int64
 73  75 mbps     3098 non-null   int64
 74  78 mbps     3098 non-null   int64
 75  80 mbps     3098 non-null   int64
 76  82 mbps     3098 non-null   int64
 77  83 mbps     3098 non-null   int64
 78  85 mbps     3098 non-null   int64
 79  90 mbps     3098 non-null   int64
 80  92 mbps     3098 non-null   int64
 81  95 mbps     3098 non-null   int64
 82  100 mbps    3098 non-null   int64
dtypes: int64(79), object(4)
memory usage: 2.0+ MB

In [17]:
# Carga del archivo: 15.accesos_a_internet_fijo_por_tecnologia_y_localidad.csv
accesos_tecno_loc = pd.read_csv(r"15.accesos_a_internet_fijo_por_tecnologia_y_localidad.csv")
accesos_tecno_loc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3142 entries, 0 to 3141
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Provincia      3142 non-null   object
 1   Partido        3142 non-null   object
 2   Localidad      3142 non-null   object
 3   Link Indec     3142 non-null   object
 4   ADSL           3142 non-null   int64
 5   CABLEMODEM     3142 non-null   int64
 6   DIAL UP        3142 non-null   int64
 7   FIBRA OPTICA   3142 non-null   int64
 8   OTROS          3142 non-null   int64
 9   SATELITAL      3142 non-null   int64
 10  WIMAX          3142 non-null   int64
 11  WIRELESS       3142 non-null   int64
 12  Total general  3142 non-null   int64
dtypes: int64(9), object(4)
memory usage: 319.2+ KB

In [27]:
# Carga del archivo: 16.conectividad_al_servicio_de_internet.csv
conec = pd.read_csv(r"16.Conectividad al servicio de Internet.csv")
conec.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4312 entries, 0 to 4311
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Provincia      4312 non-null   object
 1   Partido        4312 non-null   object
 2   Localidad      4312 non-null   object
 3   Poblacion      4312 non-null   int64
 4   ADSL           4312 non-null   object
 5   CABLEMODEM     4312 non-null   object
 6   DIALUP         4312 non-null   object
 7   FIBRAOPTICA    4312 non-null   object
 8   SATELITAL      4312 non-null   object
 9   WIRELESS       4312 non-null   object
 10  TELEFONIAFIJA  4312 non-null   object
 11  3G             4312 non-null   object
 12  4G             4312 non-null   object
 13  link           4300 non-null   float64
 14  Latitud        4312 non-null   object
 15  Longitud       4312 non-null   object
dtypes: float64(1), int64(1), object(14)
memory usage: 539.1+ KB

In [28]:
# Carga del archivo: 17.listado_de_localidades_con_conectividad_a_internet..csv
lista_loc = pd.read_csv(r"17.Listado de localidades con conectividad a internet.csv")
lista_loc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4312 entries, 0 to 4311
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Provincia      4312 non-null   object
 1   Partido        4312 non-null   object
 2   Localidad      4312 non-null   object
 3   ADSL           4312 non-null   object
 4   CABLEMODEM     4312 non-null   object
 5   DIALUP         4312 non-null   object
 6   FIBRAOPTICA    4312 non-null   object
 7   4G             4312 non-null   object
 8   3G             4312 non-null   object
 9   TELEFONIAFIJA  4312 non-null   object
 10  WIRELESS       4312 non-null   object
 11  SATELITAL      4312 non-null   object
dtypes: object(12)
memory usage: 404.4+ KB

In [29]:
# Carga del archivo: 18.indicadores_macroeconomicos.csv
indicadores = pd.read_csv(r"18.indicadores_macroeconomicos.csv")
indicadores.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22 entries, 0 to 21
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      22 non-null     int64
 1   Año             22 non-null     int64
 2   Trimestre       22 non-null     int64
 3   IPC US          22 non-null     int64
 4   IPC AR          22 non-null     int64
 5   USDARS oficial  22 non-null     float64
 6   USDARS blue     22 non-null     float64
 7   PBI millones    22 non-null     int64
dtypes: float64(2), int64(6)
memory usage: 1.5 KB

In [30]:
# Carga del archivo: 19.total_nacional_de_accesos_a_internet_fijo_por_tipo_de_tecnologia.csv
total_accesos = pd.read_csv(r"19.total_nacional_de_accesos_a_internet_fijo_por_tipo_de_tecnologia.csv")
total_accesos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Año           35 non-null     int64
 1   Trimestre     35 non-null     int64
 2   ADSL          35 non-null     int64
 3   Cablemodem    35 non-null     int64
 4   Fibra óptica  35 non-null     int64
 5   Wireless      35 non-null     int64
 6   Otros         35 non-null     int64
 7   Total         35 non-null     int64
 8   Periodo       35 non-null     object
dtypes: int64(8), object(1)
memory usage: 2.6+ KB

In [31]:
# Revisión de la información de los df
penetracion_100hab.info()
penetracion_pvcia.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 840 entries, 0 to 839
Data columns (total 4 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Año                       840 non-null    int64
 1   Trimestre                 840 non-null    int64
 2   Provincia                 840 non-null    object
 3   Accesos por cada 100 hab  840 non-null    int64
dtypes: int64(3), object(1)
memory usage: 26.4+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 840 entries, 0 to 839
Data columns (total 4 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Año                           840 non-null    int64
 1   Trimestre                     840 non-null    int64
 2   Provincia                     840 non-null    object
 3   Accesos por cada 100 hogares  840 non-null    float64
dtypes: float64(1), int64(2), object(1)
memory usage: 26.4+ KB

In [114]:
# Combinación de df considerando las columnnas "Año", "Trimestre" y "Provincia"
df_combinado_penetracion = pd.merge(penetracion_100hab, penetracion_pvcia, on=['Año', 'Trimestre', 'Provincia'])
df_combinado_penetracion.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 840 entries, 0 to 839
Data columns (total 5 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Año                           840 non-null    int64
 1   Trimestre                     840 non-null    int64
 2   Provincia                     840 non-null    object
 3   Accesos por cada 100 hab      840 non-null    int64
 4   Accesos por cada 100 hogares  840 non-null    float64
dtypes: float64(1), int64(3), object(1)
memory usage: 32.9+ KB

In [115]:
# Revision del nuevo df obtenido
df_combinado_penetracion.sample(5)

,Año,Trimestre,Provincia,Accesos por cada 100 hab,Accesos por cada 100 hogares
787,2014,3,Santa Cruz,8,28.23
759,2014,4,Río Negro,14,45.48
681,2015,3,Jujuy,5,21.27
203,2020,3,La Rioja,13,50.12
455,2018,1,Tucumán,10,41.18

In [39]:
# Revisión de la información del df
accesos_tecno_pvcia.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 840 entries, 0 to 839
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Año           840 non-null    object
 1   Trimestre     840 non-null    object
 2   Provincia     840 non-null    object
 3   ADSL          840 non-null    int64
 4   Cablemodem    840 non-null    int64
 5   Fibra óptica  840 non-null    int64
 6   Wireless      840 non-null    int64
 7   Otros         840 non-null    int64
 8   Total         840 non-null    int64
dtypes: int64(6), object(3)
memory usage: 59.2+ KB

In [116]:
# Al revisar este df vemos que hay datos con errores
df3 = accesos_tecno_pvcia.copy()
df3['Año'].unique() # revisamos los valores
df3['Año'] = df3['Año'].str.replace('[^0-9]', '').str.rstrip('*') # reemplazar el *
df3['Año'] = df3['Año'].astype(int) # convertir el tipo
#df3.head(5)
df3['Año'].unique() # ya no hay datos erroneos

array([2022, 2021, 2020, 2019, 2018, 2017, 2016, 2015, 2014])

In [117]:
# De manera análoga para la columna de "Trimestre"
# Eliminar caracteres no numéricos y el carácter "*" de la columna "Trimestre"
df3['Trimestre'] = df3['Trimestre'].str.replace('[^0-9]', '').str.rstrip('*')

# Convertir la columna "Trimestre" a tipo int64
df3['Trimestre'] = df3['Trimestre'].astype(int)

In [118]:
df3['Trimestre'].unique() # ya no hay datos erroneos

array([3, 2, 1, 4])

In [119]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 840 entries, 0 to 839
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Año           840 non-null    int32
 1   Trimestre     840 non-null    int32
 2   Provincia     840 non-null    object
 3   ADSL          840 non-null    int64
 4   Cablemodem    840 non-null    int64
 5   Fibra óptica  840 non-null    int64
 6   Wireless      840 non-null    int64
 7   Otros         840 non-null    int64
 8   Total         840 non-null    int64
dtypes: int32(2), int64(6), object(1)
memory usage: 52.6+ KB

In [66]:
# Combinamos el df corregido con el previamente obtenido, considerando las mismas columnas
df_combinado2 = pd.merge(df3, df_combinado_penetracion, on=['Año', 'Trimestre', 'Provincia'])
df_combinado2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 840 entries, 0 to 839
Data columns (total 11 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Año                           840 non-null    int32
 1   Trimestre                     840 non-null    int32
 2   Provincia                     840 non-null    object
 3   ADSL                          840 non-null    int64
 4   Cablemodem                    840 non-null    int64
 5   Fibra óptica                  840 non-null    int64
 6   Wireless                      840 non-null    int64
 7   Otros                         840 non-null    int64
 8   Total                         840 non-null    int64
 9   Accesos por cada 100 hab      840 non-null    int64
 10  Accesos por cada 100 hogares  840 non-null    float64
dtypes: float64(1), int32(2), int64(7), object(1)
memory usage: 65.8+ KB

En este punto, se procede a unir df que contienen la misma cantidad de informnación o que están vinculados por el tipo de información que expresan

In [120]:
# Union de los df: penetracion_100hab, penetracion_pvcia - accesos_tecno_pvcia - accesos_pvcia 
df_combinado3 = pd.merge(df_combinado2, accesos_pvcia, on=['Año', 'Trimestre', 'Provincia'])
df_combinado3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 840 entries, 0 to 839
Data columns (total 14 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Año                           840 non-null    int32
 1   Trimestre                     840 non-null    int32
 2   Provincia                     840 non-null    object
 3   ADSL                          840 non-null    int64
 4   Cablemodem                    840 non-null    int64
 5   Fibra óptica                  840 non-null    int64
 6   Wireless                      840 non-null    int64
 7   Otros                         840 non-null    int64
 8   Total_x                       840 non-null    int64
 9   Accesos por cada 100 hab      840 non-null    int64
 10  Accesos por cada 100 hogares  840 non-null    float64
 11  Banda ancha fija              840 non-null    int64
 12  Dial up                       840 non-null    int64
 13  Total_y                       840 non-null    int64
dtypes: float64(1), int32(2), int64(10), object(1)
memory usage: 85.4+ KB

In [121]:
# Adición de los df: penetracion_100hab, penetracion_pvcia - accesos_tecno_pvcia - accesos_pvcia - accesos_pvcia_rangosvel
df_combinado4 = pd.merge(df_combinado3, accesos_pvcia_rangosvel, on=['Año', 'Trimestre', 'Provincia'])
df_combinado4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 840 entries, 0 to 839
Data columns (total 23 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Año                           840 non-null    int32
 1   Trimestre                     840 non-null    int32
 2   Provincia                     840 non-null    object
 3   ADSL                          840 non-null    int64
 4   Cablemodem                    840 non-null    int64
 5   Fibra óptica                  840 non-null    int64
 6   Wireless                      840 non-null    int64
 7   Otros                         840 non-null    int64
 8   Total_x                       840 non-null    int64
 9   Accesos por cada 100 hab      840 non-null    int64
 10  Accesos por cada 100 hogares  840 non-null    float64
 11  Banda ancha fija              840 non-null    int64
 12  Dial up                       840 non-null    int64
 13  Total_y                       840 non-null    int64
 14  HASTA 512 kbps                840 non-null    int64
 15  + 512 Kbps - 1 Mbps           840 non-null    int64
 16  + 1 Mbps - 6 Mbps             840 non-null    int64
 17  + 6 Mbps - 10 Mbps            840 non-null    int64
 18  + 10 Mbps - 20 Mbps           840 non-null    int64
 19  + 20 Mbps - 30 Mbps           840 non-null    int64
 20  + 30 Mbps                     840 non-null    int64
 21  OTROS                         840 non-null    int64
 22  Total                         840 non-null    int64
dtypes: float64(1), int32(2), int64(19), object(1)
memory usage: 144.5+ KB

En el caso de los siguientes df, se refieren a valores de interés nacional

In [70]:
# Unión de los df: accesos_nac, vel_nac 
df_nac = pd.merge(accesos_nac, vel_nac, on=['Año', 'Trimestre'])
df_nac.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 8 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Año                     35 non-null     int64
 1   Trimestre               35 non-null     int64
 2   Banda ancha fija        35 non-null     int64
 3   Dial up                 35 non-null     int64
 4   Total                   35 non-null     int64
 5   Periodo                 35 non-null     object
 6   Mbps (Media de bajada)  35 non-null     float64
 7   Trimestre.1             35 non-null     object
dtypes: float64(1), int64(5), object(2)
memory usage: 2.3+ KB

In [86]:
# Se agregan: accesos_nac, vel_nac - accesos_nac_vel - ingresos - total_accesos
df_nac2 = pd.merge(df_nac, accesos_nac_vel, on=['Año', 'Trimestre'])
df_nac3 = pd.merge(df_nac2, ingresos, on=['Año', 'Trimestre'])
df_nac4 = pd.merge(df_nac3, total_accesos, on=['Año', 'Trimestre'])

In [87]:
# Revisión del df final obtenido
df_nac4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 27 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Año                        35 non-null     int64
 1   Trimestre                  35 non-null     int64
 2   Banda ancha fija           35 non-null     int64
 3   Dial up                    35 non-null     int64
 4   Total_x                    35 non-null     int64
 5   Periodo_x                  35 non-null     object
 6   Mbps (Media de bajada)     35 non-null     float64
 7   Trimestre.1                35 non-null     object
 8   Hasta 512 kbps             35 non-null     float64
 9   Entre 512 Kbps y 1 Mbps    35 non-null     float64
 10  Entre 1 Mbps y 6 Mbps      35 non-null     object
 11  Entre 6 Mbps y 10 Mbps     35 non-null     object
 12  Entre 10 Mbps y 20 Mbps    35 non-null     object
 13  Entre 20 Mbps y 30 Mbps    35 non-null     object
 14  Más de 30 Mbps             35 non-null     object
 15  OTROS                      35 non-null     float64
 16  Total_y                    35 non-null     object
 17  Unnamed: 11                0 non-null      float64
 18  Ingresos (miles de pesos)  35 non-null     int64
 19  Periodo_y                  35 non-null     object
 20  ADSL                       35 non-null     int64
 21  Cablemodem                 35 non-null     int64
 22  Fibra óptica               35 non-null     int64
 23  Wireless                   35 non-null     int64
 24  Otros                      35 non-null     int64
 25  Total                      35 non-null     int64
 26  Periodo                    35 non-null     object
dtypes: float64(5), int64(12), object(10)
memory usage: 7.5+ KB

Luego se trabajan con los datos procedentes de los partidos y localidades

In [74]:
# Unión de los df: accesos_tecno_loc, conec
df_partidos = pd.merge(accesos_tecno_loc, conec, on=['Provincia', 'Partido', 'Localidad'])
df_partidos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2983 entries, 0 to 2982
Data columns (total 26 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Provincia      2983 non-null   object
 1   Partido        2983 non-null   object
 2   Localidad      2983 non-null   object
 3   Link Indec     2983 non-null   object
 4   ADSL_x         2983 non-null   int64
 5   CABLEMODEM_x   2983 non-null   int64
 6   DIAL UP        2983 non-null   int64
 7   FIBRA OPTICA   2983 non-null   int64
 8   OTROS          2983 non-null   int64
 9   SATELITAL_x    2983 non-null   int64
 10  WIMAX          2983 non-null   int64
 11  WIRELESS_x     2983 non-null   int64
 12  Total general  2983 non-null   int64
 13  Poblacion      2983 non-null   int64
 14  ADSL_y         2983 non-null   object
 15  CABLEMODEM_y   2983 non-null   object
 16  DIALUP         2983 non-null   object
 17  FIBRAOPTICA    2983 non-null   object
 18  SATELITAL_y    2983 non-null   object
 19  WIRELESS_y     2983 non-null   object
 20  TELEFONIAFIJA  2983 non-null   object
 21  3G             2983 non-null   object
 22  4G             2983 non-null   object
 23  link           2980 non-null   float64
 24  Latitud        2983 non-null   object
 25  Longitud       2983 non-null   object
dtypes: float64(1), int64(10), object(15)
memory usage: 606.1+ KB

In [83]:
# accesos_tecno_loc, conec
df_partidos2 = pd.merge(df_partidos, lista_loc, on=['Provincia', 'Partido', 'Localidad'])
df_partidos2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2993 entries, 0 to 2992
Data columns (total 35 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Provincia        2993 non-null   object
 1   Partido          2993 non-null   object
 2   Localidad        2993 non-null   object
 3   Link Indec       2993 non-null   object
 4   ADSL_x           2993 non-null   int64
 5   CABLEMODEM_x     2993 non-null   int64
 6   DIAL UP          2993 non-null   int64
 7   FIBRA OPTICA     2993 non-null   int64
 8   OTROS            2993 non-null   int64
 9   SATELITAL_x      2993 non-null   int64
 10  WIMAX            2993 non-null   int64
 11  WIRELESS_x       2993 non-null   int64
 12  Total general    2993 non-null   int64
 13  Poblacion        2993 non-null   int64
 14  ADSL_y           2993 non-null   object
 15  CABLEMODEM_y     2993 non-null   object
 16  DIALUP_x         2993 non-null   object
 17  FIBRAOPTICA_x    2993 non-null   object
 18  SATELITAL_y      2993 non-null   object
 19  WIRELESS_y       2993 non-null   object
 20  TELEFONIAFIJA_x  2993 non-null   object
 21  3G_x             2993 non-null   object
 22  4G_x             2993 non-null   object
 23  link             2990 non-null   float64
 24  Latitud          2993 non-null   object
 25  Longitud         2993 non-null   object
 26  ADSL             2993 non-null   object
 27  CABLEMODEM       2993 non-null   object
 28  DIALUP_y         2993 non-null   object
 29  FIBRAOPTICA_y    2993 non-null   object
 30  4G_y             2993 non-null   object
 31  3G_y             2993 non-null   object
 32  TELEFONIAFIJA_y  2993 non-null   object
 33  WIRELESS         2993 non-null   object
 34  SATELITAL        2993 non-null   object
dtypes: float64(1), int64(10), object(24)
memory usage: 818.5+ KB

In [85]:
# Revisión del df obtenido 
pd.set_option('display.max_columns', None)
df_partidos2.head(5)

,Provincia,Partido,Localidad,Link Indec,ADSL_x,CABLEMODEM_x,DIAL UP,FIBRA OPTICA,OTROS,SATELITAL_x,WIMAX,WIRELESS_x,Total general,Poblacion,ADSL_y,CABLEMODEM_y,DIALUP_x,FIBRAOPTICA_x,SATELITAL_y,WIRELESS_y,TELEFONIAFIJA_x,3G_x,4G_x,link,Latitud,Longitud,ADSL,CABLEMODEM,DIALUP_y,FIBRAOPTICA_y,4G_y,3G_y,TELEFONIAFIJA_y,WIRELESS,SATELITAL
0,BUENOS AIRES,25 de Mayo,25 de Mayo,6854100,873,4704,0,2,0,975,0,664,7218,23408,SI,SI,--,--,SI,SI,SI,SI,SI,6854100.0,"-35,4339385892588","-60,1731209454056",SI,SI,--,--,SI,SI,SI,SI,SI
1,BUENOS AIRES,25 de Mayo,Del Valle,6854020,181,0,0,0,10,1,0,0,192,899,SI,--,--,--,SI,--,--,SI,SI,6854020.0,"-35,8973453887603","-60,7316089512944",SI,--,--,--,SI,SI,--,--,SI
2,BUENOS AIRES,25 de Mayo,Gobernador Ugarte,6854040,0,0,0,0,0,0,0,181,181,547,--,--,--,--,--,SI,--,--,--,6854040.0,"-35,1643973648093","-60,0813577815069",--,--,--,--,--,--,--,SI,--
3,BUENOS AIRES,25 de Mayo,Norberto de la Riestra,6854060,0,782,0,6,167,0,0,327,1282,4524,--,SI,--,SI,--,SI,SI,SI,SI,6854060.0,"-35,2727788695321","-59,7719327250509",--,SI,--,SI,SI,SI,SI,SI,--
4,BUENOS AIRES,25 de Mayo,Lucas Monteverde,6854050,0,0,0,0,0,0,0,6,6,63,--,--,--,--,--,SI,--,--,--,6854050.0,"-35,4838272164734","-59,9880647932831",--,--,--,--,--,--,--,SI,--

----
Luego de esto, cuento con 4 dataframes que compila toda la información obligatoria:
- df_combinado4
- df_nac4
- df_partidos2
- indicadores 

Ahora se procede a revisar la información contenida en cada uno de ellos

# Transformación del primer df:
- df_combinado4

In [89]:
df_combinado4.sample(5)

,Año,Trimestre,Provincia,ADSL,Cablemodem,Fibra óptica,Wireless,Otros,Total_x,Accesos por cada 100 hab,Accesos por cada 100 hogares,Banda ancha fija,Dial up,Total_y,HASTA 512 kbps,+ 512 Kbps - 1 Mbps,+ 1 Mbps - 6 Mbps,+ 6 Mbps - 10 Mbps,+ 10 Mbps - 20 Mbps,+ 20 Mbps - 30 Mbps,+ 30 Mbps,OTROS,Total
108,2021,3,Mendoza,91474,71247,70579,21811,8280,255939,13,45.55,255320,619,255939,36,31,151871,12640,62628,7596,21087,50,255939
130,2021,2,La Pampa,9017,57014,17132,13209,1295,97667,27,82.08,97551,116,97667,298,554,64146,7769,8128,3399,9311,4062,97667
370,2018,4,La Pampa,18832,55337,2685,7772,101,85636,24,73.49,85368,268,85636,241,7727,70508,3661,978,1328,270,923,85636
227,2020,2,La Rioja,16885,34984,1,2500,350,52155,13,49.84,52152,3,52155,21,1,37375,5661,4686,73,4336,2,52155
497,2017,3,San Juan,54499,5068,816,1053,1013,62449,8,32.37,61789,660,62449,31,1077,57582,1,0,2,2,0,58695

In [123]:
df_combinado4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 840 entries, 0 to 839
Data columns (total 23 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Año                           840 non-null    int32
 1   Trimestre                     840 non-null    int32
 2   Provincia                     840 non-null    object
 3   ADSL                          840 non-null    int64
 4   Cablemodem                    840 non-null    int64
 5   Fibra óptica                  840 non-null    int64
 6   Wireless                      840 non-null    int64
 7   Otros                         840 non-null    int64
 8   Total_x                       840 non-null    int64
 9   Accesos por cada 100 hab      840 non-null    int64
 10  Accesos por cada 100 hogares  840 non-null    float64
 11  Banda ancha fija              840 non-null    int64
 12  Dial up                       840 non-null    int64
 13  Total_y                       840 non-null    int64
 14  HASTA 512 kbps                840 non-null    int64
 15  + 512 Kbps - 1 Mbps           840 non-null    int64
 16  + 1 Mbps - 6 Mbps             840 non-null    int64
 17  + 6 Mbps - 10 Mbps            840 non-null    int64
 18  + 10 Mbps - 20 Mbps           840 non-null    int64
 19  + 20 Mbps - 30 Mbps           840 non-null    int64
 20  + 30 Mbps                     840 non-null    int64
 21  OTROS                         840 non-null    int64
 22  Total                         840 non-null    int64
dtypes: float64(1), int32(2), int64(19), object(1)
memory usage: 144.5+ KB

In [124]:
# Comparar los valores de las columnas y contar los iguales
cantidad_iguales1 = (df_combinado4['Total'] == df_combinado4['Total_x']).sum()
cantidad_iguales2 = (df_combinado4['Total'] == df_combinado4['Total_y']).sum()
cantidad_iguales3 = (df_combinado4['Total_x'] == df_combinado4['Total_y']).sum()

# Imprimir la cantidad de valores iguales
print(cantidad_iguales1)
print(cantidad_iguales2)
print(cantidad_iguales3) # en este caso coinciden todos los valores

319
319
840

Podemos notar que hay diferencia entre los resultados "Totales" procedentes de los distintos dataset originales
En este caso, "Total_x" = "Total_y" (que suman los diferentes tipos de conexiones) pero diferen respecto a "Total" (procedente de la suma de Mbps)
Como coinciden "Total_x" con "Total_y", se elimina la ultima columna.

In [125]:
df_combinado4 = df_combinado4.drop('Total_y', axis=1)
df_combinado4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 840 entries, 0 to 839
Data columns (total 22 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Año                           840 non-null    int32
 1   Trimestre                     840 non-null    int32
 2   Provincia                     840 non-null    object
 3   ADSL                          840 non-null    int64
 4   Cablemodem                    840 non-null    int64
 5   Fibra óptica                  840 non-null    int64
 6   Wireless                      840 non-null    int64
 7   Otros                         840 non-null    int64
 8   Total_x                       840 non-null    int64
 9   Accesos por cada 100 hab      840 non-null    int64
 10  Accesos por cada 100 hogares  840 non-null    float64
 11  Banda ancha fija              840 non-null    int64
 12  Dial up                       840 non-null    int64
 13  HASTA 512 kbps                840 non-null    int64
 14  + 512 Kbps - 1 Mbps           840 non-null    int64
 15  + 1 Mbps - 6 Mbps             840 non-null    int64
 16  + 6 Mbps - 10 Mbps            840 non-null    int64
 17  + 10 Mbps - 20 Mbps           840 non-null    int64
 18  + 20 Mbps - 30 Mbps           840 non-null    int64
 19  + 30 Mbps                     840 non-null    int64
 20  OTROS                         840 non-null    int64
 21  Total                         840 non-null    int64
dtypes: float64(1), int32(2), int64(18), object(1)
memory usage: 137.9+ KB

In [126]:
# Renombramos las columnas necesarias
df_combinado4 = df_combinado4.rename(columns={'Total': 'Total suma Mbps'})
df_combinado4 = df_combinado4.rename(columns={'Total_x': 'Total_conexion'})
df_combinado4 = df_combinado4.rename(columns={'OTROS': 'Otros Mbps'})
df_combinado4 = df_combinado4.rename(columns={'HASTA 512 kbps': 'Hasta 512 kbps'})

In [127]:
# Revisamos el nuevo df obtenido
df_combinado4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 840 entries, 0 to 839
Data columns (total 22 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Año                           840 non-null    int32
 1   Trimestre                     840 non-null    int32
 2   Provincia                     840 non-null    object
 3   ADSL                          840 non-null    int64
 4   Cablemodem                    840 non-null    int64
 5   Fibra óptica                  840 non-null    int64
 6   Wireless                      840 non-null    int64
 7   Otros                         840 non-null    int64
 8   Total_conexion                840 non-null    int64
 9   Accesos por cada 100 hab      840 non-null    int64
 10  Accesos por cada 100 hogares  840 non-null    float64
 11  Banda ancha fija              840 non-null    int64
 12  Dial up                       840 non-null    int64
 13  Hasta 512 kbps                840 non-null    int64
 14  + 512 Kbps - 1 Mbps           840 non-null    int64
 15  + 1 Mbps - 6 Mbps             840 non-null    int64
 16  + 6 Mbps - 10 Mbps            840 non-null    int64
 17  + 10 Mbps - 20 Mbps           840 non-null    int64
 18  + 20 Mbps - 30 Mbps           840 non-null    int64
 19  + 30 Mbps                     840 non-null    int64
 20  Otros Mbps                    840 non-null    int64
 21  Total suma Mbps               840 non-null    int64
dtypes: float64(1), int32(2), int64(18), object(1)
memory usage: 137.9+ KB

In [131]:
# Agrupar y resumir los datos:
df_agrupado = df_combinado4.groupby(['Año', 'Trimestre', 'Provincia']).sum()
df_agrupado.sample(10)

                                   ADSL  Cablemodem  Fibra óptica  Wireless  \
Año  Trimestre Provincia
2020 2         Córdoba           282858      415007         85818     44522
2016 1         Neuquén            51702       36122          1085     12502
               Corrientes         55454       28491           192      1354
2020 4         La Pampa            9009       58945         15432     12194
2021 1         Capital Federal   159805     1145093         39980      5559
2017 1         Santa Fe          327458      226094          3210      4948
2019 1         Tierra Del Fuego   19789       23549          1623         0
2015 2         Córdoba           348130      255596           435      5199
2014 3         Córdoba           340212      240334           444      4064
2017 4         Jujuy              33844        9626            20       280

                                 Otros  Total_conexion  \
Año  Trimestre Provincia
2020 2         Córdoba            8263          836468
2016 1         Neuquén             285          104261
               Corrientes          450           85536
2020 4         La Pampa           1315           96895
2021 1         Capital Federal   29236         1379673
2017 1         Santa Fe           1172          562882
2019 1         Tierra Del Fuego   1486           46447
2015 2         Córdoba            3860          609746
2014 3         Córdoba            3770          585431
2017 4         Jujuy               340           43552

                                 Accesos por cada 100 hab  \
Año  Trimestre Provincia
2020 2         Córdoba                                 22
2016 1         Neuquén                                 17
               Corrientes                               8
2020 4         La Pampa                                27
2021 1         Capital Federal                         45
2017 1         Santa Fe                                16
2019 1         Tierra Del Fuego                        28
2015 2         Córdoba                                 17
2014 3         Córdoba                                 17
2017 4         Jujuy                                    6

                                 Accesos por cada 100 hogares  \
Año  Trimestre Provincia
2020 2         Córdoba                                  72.71
2016 1         Neuquén                                  55.75
               Corrientes                               30.08
2020 4         La Pampa                                 81.77
2021 1         Capital Federal                         108.42
2017 1         Santa Fe                                 51.97
2019 1         Tierra Del Fuego                         93.38
2015 2         Córdoba                                  55.87
2014 3         Córdoba                                  54.23
2017 4         Jujuy                                    22.74

                                 Banda ancha fija  Dial up  Hasta 512 kbps  \
Año  Trimestre Provincia
2020 2         Córdoba                     836413       55             168
2016 1         Neuquén                     101969     2292            1720
               Corrientes                   85510       26              29
2020 4         La Pampa                     96779      116             298
2021 1         Capital Federal            1378283     1390             135
2017 1         Santa Fe                    562520      362            4966
2019 1         Tierra Del Fuego             45903      544               6
2015 2         Córdoba                     609510      236             156
2014 3         Córdoba                     585231      200             660
2017 4         Jujuy                        43551        1             345

                                 + 512 Kbps - 1 Mbps  + 1 Mbps - 6 Mbps  \
Año  Trimestre Provincia
2020 2         Córdoba                          4383             219025
2016 1         Neuquén                          1737              86310
               Corrientes                      10690              47833
2020 4         La Pampa                          554              70184
2021 1         Capital Federal                   244             159662
2017 1         Santa Fe                        39463             340418
2019 1         Tierra Del Fuego                  131              38851
2015 2         Córdoba                         72695             434717
2014 3         Córdoba                         98992             435692
2017 4         Jujuy                            5364              26566

                                 + 6 Mbps - 10 Mbps  + 10 Mbps - 20 Mbps  \
Año  Trimestre Provincia
2020 2         Córdoba                       125932                89530
2016 1         Neuquén                          479                 7893
               Corrientes                     18375                 7911
2020 4         La Pampa                        8124                 6562
2021 1         Capital Federal                76753                56457
2017 1         Santa Fe                       77152                83008
2019 1         Tierra Del Fuego                3623                  641
2015 2         Córdoba                        54993                46415
2014 3         Córdoba                        28992                18888
2017 4         Jujuy                           7721                 3507

                                 + 20 Mbps - 30 Mbps  + 30 Mbps  Otros Mbps  \
Año  Trimestre Provincia
2020 2         Córdoba                         63216     325243        8971
2016 1         Neuquén                           143        171           0
               Corrientes                        526        170           0
2020 4         La Pampa                         2396       6257        2520
2021 1         Capital Federal                 83255    1003041         126
2017 1         Santa Fe                        15775       1831           0
2019 1         Tierra Del Fuego                   80         29           0
2015 2         Córdoba                          1956        903           0
2014 3         Córdoba                            84        664           0
2017 4         Jujuy                              44          3           0

                                 Total suma Mbps
Año  Trimestre Provincia
2020 2         Córdoba                    836468
2016 1         Neuquén                     98453
               Corrientes                  85534
2020 4         La Pampa                    96895
2021 1         Capital Federal           1379673
2017 1         Santa Fe                   562613
2019 1         Tierra Del Fuego            43361
2015 2         Córdoba                    611835
2014 3         Córdoba                    583972
2017 4         Jujuy                       43550

# Transformación del segundo df:

- df_nac4

In [137]:
df_nac4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 27 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Año                        35 non-null     int64
 1   Trimestre                  35 non-null     int64
 2   Banda ancha fija           35 non-null     int64
 3   Dial up                    35 non-null     int64
 4   Total_x                    35 non-null     int64
 5   Periodo_x                  35 non-null     object
 6   Mbps (Media de bajada)     35 non-null     float64
 7   Trimestre.1                35 non-null     object
 8   Hasta 512 kbps             35 non-null     float64
 9   Entre 512 Kbps y 1 Mbps    35 non-null     float64
 10  Entre 1 Mbps y 6 Mbps      35 non-null     object
 11  Entre 6 Mbps y 10 Mbps     35 non-null     object
 12  Entre 10 Mbps y 20 Mbps    35 non-null     object
 13  Entre 20 Mbps y 30 Mbps    35 non-null     object
 14  Más de 30 Mbps             35 non-null     object
 15  OTROS                      35 non-null     float64
 16  Total_y                    35 non-null     object
 17  Unnamed: 11                0 non-null      float64
 18  Ingresos (miles de pesos)  35 non-null     int64
 19  Periodo_y                  35 non-null     object
 20  ADSL                       35 non-null     int64
 21  Cablemodem                 35 non-null     int64
 22  Fibra óptica               35 non-null     int64
 23  Wireless                   35 non-null     int64
 24  Otros                      35 non-null     int64
 25  Total                      35 non-null     int64
 26  Periodo                    35 non-null     object
dtypes: float64(5), int64(12), object(10)
memory usage: 7.5+ KB

Se eliminan columnas redundantes

In [142]:
# Se eliminan las columnas
df_nac5 = df_nac4.copy()
df_nac5 = df_nac5.drop(['Periodo_x', 'Trimestre.1', 'Periodo_y', 'Periodo'], axis=1)
df_nac5.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 23 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Año                        35 non-null     int64
 1   Trimestre                  35 non-null     int64
 2   Banda ancha fija           35 non-null     int64
 3   Dial up                    35 non-null     int64
 4   Total_x                    35 non-null     int64
 5   Mbps (Media de bajada)     35 non-null     float64
 6   Hasta 512 kbps             35 non-null     float64
 7   Entre 512 Kbps y 1 Mbps    35 non-null     float64
 8   Entre 1 Mbps y 6 Mbps      35 non-null     object
 9   Entre 6 Mbps y 10 Mbps     35 non-null     object
 10  Entre 10 Mbps y 20 Mbps    35 non-null     object
 11  Entre 20 Mbps y 30 Mbps    35 non-null     object
 12  Más de 30 Mbps             35 non-null     object
 13  OTROS                      35 non-null     float64
 14  Total_y                    35 non-null     object
 15  Unnamed: 11                0 non-null      float64
 16  Ingresos (miles de pesos)  35 non-null     int64
 17  ADSL                       35 non-null     int64
 18  Cablemodem                 35 non-null     int64
 19  Fibra óptica               35 non-null     int64
 20  Wireless                   35 non-null     int64
 21  Otros                      35 non-null     int64
 22  Total                      35 non-null     int64
dtypes: float64(5), int64(12), object(6)
memory usage: 6.4+ KB

In [139]:
# Se revisa la columna "Unnamed: 11" y se constata que la misma está vacia
valores_unicos = df_nac5['Unnamed: 11'].unique()
print (valores_unicos)

[nan]

In [143]:
df_nac5 = df_nac5.drop(['Unnamed: 11'], axis=1)
df_nac5.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 22 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Año                        35 non-null     int64
 1   Trimestre                  35 non-null     int64
 2   Banda ancha fija           35 non-null     int64
 3   Dial up                    35 non-null     int64
 4   Total_x                    35 non-null     int64
 5   Mbps (Media de bajada)     35 non-null     float64
 6   Hasta 512 kbps             35 non-null     float64
 7   Entre 512 Kbps y 1 Mbps    35 non-null     float64
 8   Entre 1 Mbps y 6 Mbps      35 non-null     object
 9   Entre 6 Mbps y 10 Mbps     35 non-null     object
 10  Entre 10 Mbps y 20 Mbps    35 non-null     object
 11  Entre 20 Mbps y 30 Mbps    35 non-null     object
 12  Más de 30 Mbps             35 non-null     object
 13  OTROS                      35 non-null     float64
 14  Total_y                    35 non-null     object
 15  Ingresos (miles de pesos)  35 non-null     int64
 16  ADSL                       35 non-null     int64
 17  Cablemodem                 35 non-null     int64
 18  Fibra óptica               35 non-null     int64
 19  Wireless                   35 non-null     int64
 20  Otros                      35 non-null     int64
 21  Total                      35 non-null     int64
dtypes: float64(4), int64(12), object(6)
memory usage: 6.1+ KB

In [148]:
df_nac5.head(10)

,Año,Trimestre,Banda ancha fija,Dial up,Total_x,Mbps (Media de bajada),Hasta 512 kbps,Entre 512 Kbps y 1 Mbps,Entre 1 Mbps y 6 Mbps,Entre 6 Mbps y 10 Mbps,Entre 10 Mbps y 20 Mbps,Entre 20 Mbps y 30 Mbps,Más de 30 Mbps,OTROS,Total_y,Ingresos (miles de pesos),ADSL,Cablemodem,Fibra óptica,Wireless,Otros,Total
0,2022,3,11078691,12437,11091128,62.46,33.013,96.727,1.161.370,1.151.906,823.505,479.822,6.995.750,349.035,11.091.128,67055930,1395277,6031970,2871541,557110,235230,11091128
1,2022,2,10946248,12436,10958684,58.44,33.667,99.498,1.193.090,1.197.030,856.562,485.321,6.741.922,351.594,10.958.684,60335724,1468333,5979214,2723285,556243,231609,10958684
2,2022,1,10611390,12619,10624009,55.11,34.890,104.840,1.263.273,1.209.148,967.508,509.830,6.336.187,198.333,10.624.009,55589997,1533240,6073426,2219533,545814,251996,10624009
3,2021,4,10476933,12861,10489794,52.34,41.262,28.521,1.413.208,1.245.333,976.539,558.358,6.032.322,194.251,10.489.794,45467887,1657615,5984240,2072236,523107,252596,10489794
4,2021,3,10075184,10357,10085541,48.46,40.174,41.437,2.550.229,1.095.772,710.122,536.364,4.948.174,163.269,10.085.541,42999944,1950631,5826257,1566048,492415,250190,10085541
5,2021,2,9852702,10382,9863084,45.63,40.172,42.024,2.531.271,1.080.279,693.277,647.401,4.661.291,167.369,9.863.084,38239667,2018587,5641731,1472246,476968,253552,9863084
6,2021,1,9637956,10016,9647972,43.11,39.487,41.674,2.593.477,1.072.722,737.930,595.920,4.379.965,186.797,9.647.972,36676371,2175211,5424782,1362976,434548,250455,9647972
7,2020,4,9561546,10016,9571562,42.36,39.510,42.185,2.622.638,1.073.875,786.595,582.420,4.239.237,185.102,9.571.562,33539703,2213949,5371824,1311199,421554,253036,9571562
8,2020,3,9346183,10016,9356199,40.67,41.038,44.005,2.637.984,1.040.017,799.350,538.567,4.053.461,201.777,9.356.199,31997445,2263889,5259351,1170879,413259,248821,9356199
9,2020,2,9021040,10016,9031056,38.32,41.038,48.690,2.651.502,1.053.107,807.775,523.437,3.711.499,194.008,9.031.056,32102476,2295533,5005115,1106725,376667,247016,9031056

In [145]:
# Se revisan los valores que coindiden:
cantidad_iguales4 = (df_nac5['Total_x'] == df_nac5['Total_y']).sum()
# Imprimir la cantidad de valores iguales
print(cantidad_iguales4)

0

Existen valores con "." en algunas columnas, se procede a retirarlos

In [165]:
df_nac6 = df_nac5.copy()
df_nac6['Hasta 512 kbps'] = df_nac6['Hasta 512 kbps'].astype(str).str.replace('.', '')
df_nac6.head(5)

,Año,Trimestre,Banda ancha fija,Dial up,Total_x,Mbps (Media de bajada),Hasta 512 kbps,Entre 512 Kbps y 1 Mbps,Entre 1 Mbps y 6 Mbps,Entre 6 Mbps y 10 Mbps,Entre 10 Mbps y 20 Mbps,Entre 20 Mbps y 30 Mbps,Más de 30 Mbps,OTROS,Total_y,Ingresos (miles de pesos),ADSL,Cablemodem,Fibra óptica,Wireless,Otros,Total
0,2022,3,11078691,12437,11091128,62.46,33013,96.727,1.161.370,1.151.906,823.505,479.822,6.995.750,349.035,11.091.128,67055930,1395277,6031970,2871541,557110,235230,11091128
1,2022,2,10946248,12436,10958684,58.44,33667,99.498,1.193.090,1.197.030,856.562,485.321,6.741.922,351.594,10.958.684,60335724,1468333,5979214,2723285,556243,231609,10958684
2,2022,1,10611390,12619,10624009,55.11,3489,104.840,1.263.273,1.209.148,967.508,509.830,6.336.187,198.333,10.624.009,55589997,1533240,6073426,2219533,545814,251996,10624009
3,2021,4,10476933,12861,10489794,52.34,41262,28.521,1.413.208,1.245.333,976.539,558.358,6.032.322,194.251,10.489.794,45467887,1657615,5984240,2072236,523107,252596,10489794
4,2021,3,10075184,10357,10085541,48.46,40174,41.437,2.550.229,1.095.772,710.122,536.364,4.948.174,163.269,10.085.541,42999944,1950631,5826257,1566048,492415,250190,10085541

In [166]:
# Eliminamos del mismo modo "." del resto de columnas
columnas = ['Entre 512 Kbps y 1 Mbps', 'Entre 1 Mbps y 6 Mbps', 'Entre 6 Mbps y 10 Mbps', 'Entre 10 Mbps y 20 Mbps', 'Entre 20 Mbps y 30 Mbps', 'Más de 30 Mbps', 'OTROS']

for columna in columnas:
    df_nac6[columna] = df_nac6[columna].astype(str).str.replace('.', '')

In [167]:
# Revisamos las similitudes de las columnas
cantidad_iguales5 = (df_nac6['Total'] == df_nac6['Total_x']).sum()
# Imprimir la cantidad de valores iguales
print(cantidad_iguales5)

35

In [168]:
# Eliminamos columnas con información redundante
df_nac6 = df_nac6.drop(['Total_y', 'Total_x'], axis=1)
df_nac6.head(3)

,Año,Trimestre,Banda ancha fija,Dial up,Mbps (Media de bajada),Hasta 512 kbps,Entre 512 Kbps y 1 Mbps,Entre 1 Mbps y 6 Mbps,Entre 6 Mbps y 10 Mbps,Entre 10 Mbps y 20 Mbps,Entre 20 Mbps y 30 Mbps,Más de 30 Mbps,OTROS,Ingresos (miles de pesos),ADSL,Cablemodem,Fibra óptica,Wireless,Otros,Total
0,2022,3,11078691,12437,62.46,33013,96727,1161370,1151906,823505,479822,6995750,349035,67055930,1395277,6031970,2871541,557110,235230,11091128
1,2022,2,10946248,12436,58.44,33667,99498,1193090,1197030,856562,485321,6741922,351594,60335724,1468333,5979214,2723285,556243,231609,10958684
2,2022,1,10611390,12619,55.11,3489,10484,1263273,1209148,967508,509830,6336187,198333,55589997,1533240,6073426,2219533,545814,251996,10624009

In [169]:
# Renombramos las columnas
df_nac6 = df_nac6.rename(columns={'OTROS': 'Otros Mbps'})
df_nac6 = df_nac6.rename(columns={'Otros': 'Otras conexiones'})
df_nac6 = df_nac6.rename(columns={'Total': 'Total Mbps-conexiones'})

In [170]:
# Revisamos el df
df_nac6.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 20 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Año                        35 non-null     int64
 1   Trimestre                  35 non-null     int64
 2   Banda ancha fija           35 non-null     int64
 3   Dial up                    35 non-null     int64
 4   Mbps (Media de bajada)     35 non-null     float64
 5   Hasta 512 kbps             35 non-null     object
 6   Entre 512 Kbps y 1 Mbps    35 non-null     object
 7   Entre 1 Mbps y 6 Mbps      35 non-null     object
 8   Entre 6 Mbps y 10 Mbps     35 non-null     object
 9   Entre 10 Mbps y 20 Mbps    35 non-null     object
 10  Entre 20 Mbps y 30 Mbps    35 non-null     object
 11  Más de 30 Mbps             35 non-null     object
 12  Otros Mbps                 35 non-null     object
 13  Ingresos (miles de pesos)  35 non-null     int64
 14  ADSL                       35 non-null     int64
 15  Cablemodem                 35 non-null     int64
 16  Fibra óptica               35 non-null     int64
 17  Wireless                   35 non-null     int64
 18  Otras conexiones           35 non-null     int64
 19  Total Mbps-conexiones      35 non-null     int64
dtypes: float64(1), int64(11), object(8)
memory usage: 5.6+ KB

In [171]:
# se convierten columnas en float
df_nac7 = df_nac6.copy()
columnas_convertir = ['Hasta 512 kbps', 'Entre 512 Kbps y 1 Mbps', 'Entre 1 Mbps y 6 Mbps', 'Entre 6 Mbps y 10 Mbps', 'Entre 10 Mbps y 20 Mbps', 'Entre 20 Mbps y 30 Mbps', 'Más de 30 Mbps', 'Otros Mbps']
df_nac7[columnas_convertir] = df_nac7[columnas_convertir].astype(float)

In [172]:
df_nac7.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 20 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Año                        35 non-null     int64
 1   Trimestre                  35 non-null     int64
 2   Banda ancha fija           35 non-null     int64
 3   Dial up                    35 non-null     int64
 4   Mbps (Media de bajada)     35 non-null     float64
 5   Hasta 512 kbps             35 non-null     float64
 6   Entre 512 Kbps y 1 Mbps    35 non-null     float64
 7   Entre 1 Mbps y 6 Mbps      35 non-null     float64
 8   Entre 6 Mbps y 10 Mbps     35 non-null     float64
 9   Entre 10 Mbps y 20 Mbps    35 non-null     float64
 10  Entre 20 Mbps y 30 Mbps    35 non-null     float64
 11  Más de 30 Mbps             35 non-null     float64
 12  Otros Mbps                 35 non-null     float64
 13  Ingresos (miles de pesos)  35 non-null     int64
 14  ADSL                       35 non-null     int64
 15  Cablemodem                 35 non-null     int64
 16  Fibra óptica               35 non-null     int64
 17  Wireless                   35 non-null     int64
 18  Otras conexiones           35 non-null     int64
 19  Total Mbps-conexiones      35 non-null     int64
dtypes: float64(9), int64(11)
memory usage: 5.6 KB

# Transformaciones del tercer df:

- df_partidos2

In [180]:
# Revisamos la informacion
df_partidos2.sample(3)

,Provincia,Partido,Localidad,Link Indec,ADSL_x,CABLEMODEM_x,DIAL UP,FIBRA OPTICA,OTROS,SATELITAL_x,WIMAX,WIRELESS_x,Total general,Poblacion,ADSL_y,CABLEMODEM_y,DIALUP_x,FIBRAOPTICA_x,SATELITAL_y,WIRELESS_y,TELEFONIAFIJA_x,3G_x,4G_x,link,Latitud,Longitud,ADSL,CABLEMODEM,DIALUP_y,FIBRAOPTICA_y,4G_y,3G_y,TELEFONIAFIJA_y,WIRELESS,SATELITAL
1363,ENTRE RIOS,Gualeguaychú,Larroque,30056090,262,0,0,364,0,0,0,443,1069,6180,SI,--,--,SI,--,SI,SI,SI,SI,30056090.0,"-33,0354242763647","-59,001853656082",SI,--,--,SI,SI,SI,SI,SI,--
2172,SALTA,Grl. José de San Martín,Aguaray,66056010,740,433,0,91,0,4,0,2,1270,10410,SI,SI,--,SI,SI,SI,SI,--,SI,66056010.0,"-22,2388143093458","-63,7283889210813",SI,SI,--,SI,SI,--,SI,SI,SI
2864,SANTIAGO DEL ESTERO,Juan F. Ibarra,El Colorado,86098010,0,0,0,0,20,1,0,0,21,735,--,--,--,--,SI,--,--,--,SI,86098010.0,"-27,9174428714196","-62,1171378956456",--,--,--,--,SI,--,--,--,SI

Se proceede a eliminar las columnas con datos booleanos para mayor comodidad

In [202]:
df_partidos3 = df_partidos2.drop(['Link Indec','ADSL_y', 'CABLEMODEM_y', 'DIALUP_x','FIBRAOPTICA_x','SATELITAL_y',
                                 'WIRELESS_y','3G_x','4G_x','ADSL','CABLEMODEM','DIALUP_y','FIBRAOPTICA_y', 
                                 '4G_y','3G_y','TELEFONIAFIJA_y','link','WIRELESS','SATELITAL'], axis=1)
df_partidos3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2993 entries, 0 to 2992
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Provincia        2993 non-null   object
 1   Partido          2993 non-null   object
 2   Localidad        2993 non-null   object
 3   ADSL_x           2993 non-null   int64
 4   CABLEMODEM_x     2993 non-null   int64
 5   DIAL UP          2993 non-null   int64
 6   FIBRA OPTICA     2993 non-null   int64
 7   OTROS            2993 non-null   int64
 8   SATELITAL_x      2993 non-null   int64
 9   WIMAX            2993 non-null   int64
 10  WIRELESS_x       2993 non-null   int64
 11  Total general    2993 non-null   int64
 12  Poblacion        2993 non-null   int64
 13  TELEFONIAFIJA_x  2993 non-null   object
 14  Latitud          2993 non-null   object
 15  Longitud         2993 non-null   object
dtypes: int64(10), object(6)
memory usage: 374.3+ KB

In [203]:
# Modificacion de nombres de columnas
nuevos_nombres = {
    'ADSL_x': 'ADSL',
    'CABLEMODEM_x': 'CableModem',
    'DIAL UP': 'Dial Up',
    'FIBRA OPTICA': 'Fibra Optica',
    'OTROS': 'Otras conexiones',
    'SATELITAL_x': 'Satelital',
    'WIRELESS_x': 'Wireless',
    'TELEFONIAFIJA_x': 'Telefonia Fija'}

df_partidos3 = df_partidos3.rename(columns=nuevos_nombres)

In [204]:
df_partidos3.head(3)

,Provincia,Partido,Localidad,ADSL,CableModem,Dial Up,Fibra Optica,Otras conexiones,Satelital,WIMAX,Wireless,Total general,Poblacion,Telefonia Fija,Latitud,Longitud
0,BUENOS AIRES,25 de Mayo,25 de Mayo,873,4704,0,2,0,975,0,664,7218,23408,SI,"-35,4339385892588","-60,1731209454056"
1,BUENOS AIRES,25 de Mayo,Del Valle,181,0,0,0,10,1,0,0,192,899,--,"-35,8973453887603","-60,7316089512944"
2,BUENOS AIRES,25 de Mayo,Gobernador Ugarte,0,0,0,0,0,0,0,181,181,547,--,"-35,1643973648093","-60,0813577815069"

Se modifican los valores de Latitud y longitud ya que tienen ","

In [205]:
df_partidos3['Latitud'] = df_partidos3['Latitud'].str.replace(',', '.')
df_partidos3['Longitud'] = df_partidos3['Longitud'].str.replace(',', '.')

Se transforman los datos necesarios

In [206]:
conversiones = {
    'Provincia': str,
    'Partido': str,
    'Localidad': str}

df_partidos3 = df_partidos3.astype(conversiones)

In [208]:
df_partidos3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2993 entries, 0 to 2992
Data columns (total 16 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Provincia         2993 non-null   object
 1   Partido           2993 non-null   object
 2   Localidad         2993 non-null   object
 3   ADSL              2993 non-null   int64
 4   CableModem        2993 non-null   int64
 5   Dial Up           2993 non-null   int64
 6   Fibra Optica      2993 non-null   int64
 7   Otras conexiones  2993 non-null   int64
 8   Satelital         2993 non-null   int64
 9   WIMAX             2993 non-null   int64
 10  Wireless          2993 non-null   int64
 11  Total general     2993 non-null   int64
 12  Poblacion         2993 non-null   int64
 13  Telefonia Fija    2993 non-null   object
 14  Latitud           2993 non-null   object
 15  Longitud          2993 non-null   object
dtypes: int64(10), object(6)
memory usage: 374.3+ KB

# Trandormaciones del último df:

- indicadores

In [211]:
indicadores.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22 entries, 0 to 21
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      22 non-null     int64
 1   Año             22 non-null     int64
 2   Trimestre       22 non-null     int64
 3   IPC US          22 non-null     int64
 4   IPC AR          22 non-null     int64
 5   USDARS oficial  22 non-null     float64
 6   USDARS blue     22 non-null     float64
 7   PBI millones    22 non-null     int64
dtypes: float64(2), int64(6)
memory usage: 1.5 KB

In [212]:
# Eliminamos la columna que no posee información
indicadores2 = indicadores.copy()
indicadores2 = indicadores2.drop(['Unnamed: 0'], axis=1)
indicadores2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22 entries, 0 to 21
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Año             22 non-null     int64
 1   Trimestre       22 non-null     int64
 2   IPC US          22 non-null     int64
 3   IPC AR          22 non-null     int64
 4   USDARS oficial  22 non-null     float64
 5   USDARS blue     22 non-null     float64
 6   PBI millones    22 non-null     int64
dtypes: float64(2), int64(5)
memory usage: 1.3 KB

In [213]:
indicadores2.head(3)

    Año  Trimestre  IPC US  IPC AR  USDARS oficial  USDARS blue  PBI millones
0  2013          1  232773     298             5.0          9.0       2888981
1  2013          2  233504     309             5.0          9.0       3387811
2  2013          3  234149     331             6.0         10.0       3436547

Exportamos los dataframe finales a archivos en formato .csv

In [214]:
df_combinado4.to_csv('df_combinado.csv', index=False)
df_agrupado.to_csv('df_agrupado.csv', index=False)

df_nac7.to_csv('df_nacional.csv', index=False)

df_partidos3.to_csv('df_partidos.csv', index=False)

indicadores2.to_csv('df_indicadores.csv', index=False)